<style type="text/css">
.layui-card-body{
	background-color: #fff;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #e6e6e6;
}
.layui-tab-card>.layui-tab-title{
	background-color: #f9f9f9;
	border-bottom: none;
}
.layui-tab-content{
	padding: 0;
}
.layui-margin-10{
	margin:10px ;
}
</style>
<script type="text/javascript" src="__STATIC__/jquery/jquery.form.js"></script>
<div class="content-hd">
	<fieldset class="layui-elem-field layui-field-title">
		<legend>手机规格</legend>
		<?php if(in_array(70, $role_operation_ids)): ?>
		<a href="AddFormat.html" class="layui-btn layui-btn-sm layui-btn-normal">增加</a>
		<?php endif; ?>
		<?php if(in_array(73, $role_operation_ids)): ?>
		<div style="float:right;">
			<button type="button" class="layui-btn layui-btn-sm" id="Eximport">Excel回传</button>
		</div>
		<?php endif; ?>
	</fieldset>
</div>
<form class="layui-form" action="" style="padding: 0px 10px 0px 10px;">
	<table class="layui-table">
		<colgroup>
			<col width="8%">
			<col width="15%">
			<col width="15%">
			<col width="15%">
			<col width="15%">
		</colgroup>
		<thead>
			<tr>
				<th>排序</th>
				<th>品牌</th>
				<th>型号</th>
				<th>机身颜色</th>
				<th>内存容量</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		<?php if (!(empty($list->total()))): foreach ($list as $vo): ?>
		<tr>
			<td><input style="width: 35px; text-align:center" name="<?php echo $vo['id']; ?>_<?php echo $vo['px']; ?>" value="<?php echo $vo['px']; ?>"></td>
			<td><?php echo $vo['brand']; ?></td>
			<td><?php echo $vo['models']; ?></td>
			<td><?php echo $vo['color']; ?></td>
			<td><?php echo $vo['rom']; ?></td>
			<td>
				<?php if(in_array(71, $role_operation_ids)): ?>
				<a class="rha-bt-a" href="upFormat.html?id=<?php echo $vo['id']; ?>">修改</a>
				<?php endif; ?>
				<?php if(in_array(72, $role_operation_ids)): ?>
				<a href="javascript:;" onclick="Del('<?php echo $vo['id']; ?>')" class="rha-bt-a" >删除</a>
				<?php endif; ?>
			</td>
		</tr>
		<?php endforeach; else: ?>
		<tr>
			<td colspan="6">暂无记录</td>
		</tr>
		<?php endif; ?>
		</tbody>
	</table>
	<div class="layui-form-item">
		<button class="layui-btn layui-btn-sm" lay-submit lay-filter="updateSort">更新排序</button>
	</div>
</form>
<div id="import" style="display: none;">
    <form class="layui-form import-form" method="post" action="ForMatExImport.html" enctype="multipart/form-data">
        <div class="layui-form-item">
            <div class="layui-margin-10">
                <blockquote class="layui-elem-quote layui-text">
                    请先下载<a href="ImportTemplate.html">导入模板</a>
                </blockquote>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">
                    <input type="file" class="layui-file" name="importFile" id="importFile">
                </label>
            </div>
        </div>
    </form>
</div>
<script>
layui.use(['form'], function(){
	var form = layui.form;
	form.on('submit(updateSort)', function (data) {
		layer.load(2, {shade: [1, '#FFF']});
		$.ajax({
			url: "FormatUpSort.html",
			type: "POST",
			data: data.field,
			success: function (obj) {
				layer.closeAll();
				layer.msg(obj.msg, {time: 1500}, function(){
					if(obj.ret === 200){
						window.location.reload();
					}
				});
			},
			error:function(msg){
				layer.closeAll();
				layer.msg('系统发生错误', {time: 1500});
			}
		});
		return false;
	});
	$("#Eximport").click(function(){
		layer.open({
			type: 1,
			title:'Excel回传',
			area: ['30%', '40%'], //宽高
			btn:['确定', '取消'],
			content: $("#import").html(),
			yes:function (index, obj) {
				layer.load(2, {shade: [1, '#FFF']});
				$(obj).find('.import-form').ajaxSubmit({
					type:'post',
					dataType:'json',
					success:function(result){
						layer.closeAll();
						layer.msg(result.msg, {time:1500}, function(){
							if(result.error === 0){
								window.location.reload();
							}
						});
					},
					error:function(result){
						layer.closeAll();
						layer.msg('系统发生错误', {time: 1500});
					}
				});
			},btn2:function () {
				layer.closeAll();
			}
		});
	});
});
function Del(pkid)
{
	layui.use('layer', function(){
		var layer = layui.layer;
		layer.confirm('你确定要删除吗？', {
			btn: ['是','不'] //按钮
		}, function(){
			$.post(
				'delFormat',
				{'pkid':pkid},
				function(obj){
					if(obj.ret === 200){
						layer.msg(obj.msg, {time: 1500}, function(){
							window.location.reload();
						});
					}
					else{
						layer.msg(obj.msg, {time: 1500});
					}
				},
				"json"
			);
		});
	});
}
</script>