<!-- 导航栏 -->
<div class="weadmin-nav">
	<span class="layui-breadcrumb" style="visibility: visible;">
		<a href="/">首页</a><span lay-separator="">/</span><a href="bIndex.html">公告列表</a><span lay-separator="">/</span><a><cite>增加</cite></a>
	</span>
</div>
<div class="weadmin-body">
	<form class="layui-form layui-form-pane" action="" lay-filter="example">
		<div class="layui-form-item">
			<div class="layui-form-item">
				<label class="layui-form-label"><i class="required-color">*</i>查看人群</label>
				<div class="layui-input-block">
					<select name="role_id" lay-verify="required">
						<option value=""></option>
						<option value="0">全部</option>
						<?php foreach($roleList as $v): ?>
							<option value="<?php echo $v['id']; ?>"><?php echo $v['name']; ?></option>
						<?php endforeach; ?>
					</select>
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label"><i class="required-color">*</i>公告</label>
				<div class="layui-input-block">
					<textarea placeholder="请输入公告" required="required" lay-verify="main_text" class="layui-textarea" name="main_text"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit="" lay-filter="ActAdd">立即提交</button>
				</div>
			</div>
		</div>
	</form>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form;
		//自定义验证规则
		form.verify({
			main_text: function(value){
				if(value.length < 5){
					return '公告至少得5个字符啊';
				}
				else if(value.length > 200){
					return '公告不得大于200个字符啊';
				}
			}
		});
  
        form.on('submit(ActAdd)', function (data) {
			$.post(
				'bAdd',
				data.field,
				function(obj){
					if(obj.ret == 200){
						layer.msg(obj.msg, {time: 1500}, function(){
							window.location.reload();
						});
					}
					else{
						layer.msg(obj.msg, {time: 1500, anim: 6});
					}
				}
			);
            return false;
        });
    });
</script>