<div class="content-hd">
	<fieldset class="layui-elem-field layui-field-title">
		<legend>问题导航</legend>
		<a href="AddNav.html" class="layui-btn layui-btn-sm layui-btn-normal">增加</a>
	</fieldset>
</div>
<form class="layui-form" action="" style="padding: 0px 10px 0px 10px;">
	<table class="layui-table">
		<colgroup>
			<col width="8%">
			<col width="28%">
			<col width="28%">
			<col width="16%">
		</colgroup>
		<thead>
			<tr>
				<th>排序</th>
				<th>导航</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		<?php if (!(empty($list->total()))): foreach ($list as $vo): ?>
		<tr>
			<td><input style="width: 35px; text-align:center" name="<?php echo $vo['id']; ?>_<?php echo $vo['px']; ?>_<?php echo $vo['v']; ?>" value="<?php echo $vo['px']; ?>"></td>
			<td><?php echo $vo['nav']; ?></td>
			<td><?php echo $vo['ctime'] ? date("y-m-d H:i:s", $vo['ctime']) : ''; ?></td>
			<td>
				<a class="rha-bt-a" href="upNav.html?id=<?php echo $vo['id']; ?>">修改</a>
				<a href="javascript:;" onclick="Del('<?php echo $vo['id']; ?>')" class="rha-bt-a" >删除</a>
			</td>
		</tr>
		<?php endforeach; else: ?>
		<tr>
			<td colspan="4">暂无记录</td>
		</tr>
		<?php endif; ?>
		</tbody>
	</table>
	
	<div class="layui-form-item">
		<button class="layui-btn layui-btn-sm" lay-submit lay-filter="updateSort">更新排序</button>
	</div>
</form>
<script>
layui.use('form', function(){
    var form = layui.form;
	form.on('submit(updateSort)', function (data) {
		layer.load(2, {shade: [1, '#FFF']});
		$.ajax({
			url: "FaqUpSort.html",
			type: "POST",
			data: data.field,
			success: function (obj) {
				console.log(obj);
				return false;
				layer.closeAll();
				layer.msg(obj.msg, {time: 1500}, function(){
					if(obj.ret === 200){
						window.location.reload();
					}
				});
			},
			error:function(msg){
				layer.closeAll();
				layer.msg('系统发生错误', {time: 1500});
			}
		});
		return false;
	});
});
function Del(pkid)
{
	layui.use('layer', function(){
		var layer = layui.layer;
		layer.confirm('你确定要删除吗？', {
			btn: ['是','不'] //按钮
		}, function(){
			$.post(
				'DelFaq',
				{'pkid':pkid},
				function(obj){
					if(obj.ret === 200){
						layer.msg(obj.msg, {time: 1500}, function(){
							window.location.reload();
						});
					}
					else{
						layer.msg(obj.msg, {time: 1500});
					}
				},
				"json"
			);
		});
	});
}
</script>