<div class="content-hd">
    <fieldset class="layui-elem-field layui-field-title" >
        <legend>修改检测单</legend>
    </fieldset>
</div>
<style>
    .wk div label{
        margin-right: 50px;
        font-size: 16px;
    }
    .wk div{
        border-bottom: 1px #b1b3b5 solid;
    }
</style>
<div class="rhaphp-srivice-register">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">个人信息</li>
            <li>设备信息</li>
            <li>服务信息</li>
        </ul>
        <div class="layui-tab-content" style="height: auto;">
            <div class="layui-tab-item layui-show wk">
                <div class="layui-form-item">
                    <label class="layui-form-label">受益人:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['u_name']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['u_sex']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="证件类型（身份证、军官证、护照）">证件类:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['card_type']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">证件号码:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['u_cardid']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['u_tel']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">职业:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['u_job']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">购买地址:</label>
                    <label class="layui-form-label" style="text-align: left;width: auto">{$data['buy_address']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">快递公司:</label>
                    <label class="layui-form-label" style="text-align: left;width: auto">{$data['express_company']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">快递单号:</label>
                    <label class="layui-form-label" style="text-align: left;width: auto">{$data['express_num']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系地址:</label>
                    <label class="layui-form-label" style="text-align: left;width: auto">{$data['contact_address']}</label>
                </div>
            </div>
            <div class="layui-tab-item wk">
                <div class="layui-form-item">
                    <label class="layui-form-label">设备品牌:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['t_brand']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">设备型号:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['t_mod']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">设备颜色:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['t_col']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">内存容量:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['t_mem']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">IMEI1:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['t_imei_one']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">IMEI2:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['t_imei_two']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">SN:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['t_sn']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="激活/购买日期">激活/购买日:</label>
                    <label class="layui-form-label" style="text-align: left;width: auto">{$data['t_time']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="损坏经过">损坏经过:</label>
                    <label class="layui-form-label" style="text-align: left;width: auto">{$data['damage']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="设备权益"> 设备权益:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['t_equity']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"> 上传资料:</label>
                    <label class="layui-form-label" style="text-align: left">
                        <!--<div class="layui-input-inline">-->
                        {foreach $data['photo'] as $v}
                        <img src="{$v}" alt="" width="300px" height="150px" style="margin-bottom: 10px">
                        {/foreach}
                        <!--</div>-->
                    </label>
                </div>
            </div>
            <div class="layui-tab-item wk">
                <div class="layui-form-item">
                    <label class="layui-form-label" title="服务内容"> 服务内容:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['name']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"> 保障天数:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['guarantee_time']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: auto"> 服务开始日期:</label>
                    <label class="layui-form-label" style="text-align: left;width: auto">{$data['server_start_time']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: auto"> 服务结束日期:</label>
                    <label class="layui-form-label" style="text-align: left;width: auto">{$data['server_end_time']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: auto" title="剩余保障天数"> 剩余保障天数:</label>
                    <label class="layui-form-label" style="text-align: left;width: auto">{$data['surplus_date']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"> 授权码:</label>
                    <label class="layui-form-label" style="text-align: left">{$data['acode']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="销售门店名称">门店名称:</label>
                    <label class="layui-form-label" style="text-align: left;width: auto">{$data['store_name']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="销售门店地址">门店地址:</label>
                    <label class="layui-form-label" style="text-align: left;width: auto">{$data['store_address']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"> 订单状态:</label>
                    <label class="layui-form-label" id="order_status" style="text-align: left;width: auto;">
                        <span {if condition=" $data['f'] ==0  "} class="order_status"{/if}>{$data['order_status']}</span>
                        {if condition=" $data['f'] == 0"}
                        <span class="" style="color: #b1b3b5;font-size: 15px;margin-left: 30px">*请修改</span>
                        {/if}
                        <select class="layui-input os" style="display: none; font-size: 15px;width:auto;height: 20px" >
                            <option value="-1" >请选择...</option>
                            <option value="0" >待出险</option>
                            <option value="1" >已出险</option>
                            <option value="2" >出险驳回</option>
                        </select>
                    </label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="出险提交日期">提交日期:</label>
                    <label class="layui-form-label time" style="text-align: left;width: auto">{$data['report_time']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="产品出库金额">出库金额:</label>
                    <label class="layui-form-label pro" style="text-align: left;width: auto">
                        <input type="text" name="pro_price" class="pro_price"  style="display: none">
                        {if condition = " $data['pro_price'] == ''"}
                        <span {if condition = " $data['pro_price'] == ''"} class="price" {/if}>请填写... </span>
                        <span class="" style="color: #b1b3b5;font-size: 15px;margin-left: 30px">*请修改</span>
                        {else/}
                        <span id="price"> {$data['pro_price']}</span>
                        {/if}
                        </span>
                    </label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="操作人">操作人:</label>
                    <label class="layui-form-label opera" style="text-align: left;width: auto">
                        <input type="text" name="operator" class="operators"  style="display: none">
                        {if condition = " $data['operator'] == ''"}
                        <span {if condition = " $data['operator'] == ''"} class="operator" {/if}>请填写...</span>
                        <span class="" style="color: #b1b3b5;font-size: 15px;margin-left: 30px">*请修改</span>
                        {else/}
                            {$data['operator']}
                        {/if}
                    </label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="操作日期">操作日期:</label>
                    <label class="layui-form-label operator_time" style="text-align: left;width: auto">{$data['operator_time']}</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="设备状态">设备状态:</label>
                    <label class="layui-form-label" id="t_status" style="text-align: left;width:auto">
                        {if condition = " $data['t_status'] == '未收到' "}
                        <span
                                {if condition = " $data['t_status'] == '未收到' "}
                                    class="t_status"
                                {/if}
                        >{$data['t_status']}</span>
                        <span class="" style="color: #b1b3b5;font-size: 15px;margin-left: 30px">*请修改</span>
                        {else/}
                            {$data['t_status']}
                        {/if}
                        <select class="layui-input status" style="display: none; font-size: 15px;width:auto;height: 20px" >
                            <option value="-1" >请选择...</option>
                            <option value="0" >未收到</option>
                            <option value="1" >已收到</option>
                        </select>
                    </label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="接收人">接收人:</label>
                    <label class="layui-form-label reci" style="text-align: left;width: auto">
                        <input type="text" name="recipient" class="recipients"  style="display: none">
                        {if condition = " $data['recipient'] == ''"}
                            <span {if condition = " $data['recipient'] == ''"} class="recipient" {/if}>请填写...</span>
                            <span class="" style="color: #b1b3b5;font-size: 15px;margin-left: 30px">*请修改</span>
                        {else/}
                            {$data['recipient']}
                        {/if}
                    </label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="旧件审核">旧件审核:</label>
                    <label class="layui-form-label" id="old_p_status" style="text-align: left;width:auto">
                        {if condition = " $data['old_part_status'] == '未审核' "}
                        <span {if condition = " $data['old_part_status'] == '未审核' "}
                        class="old_part_statu"
                        {/if} >
                            {$data['old_part_status']}
                        </span>
                        <span class="" style="color: #b1b3b5;font-size: 15px;margin-left: 30px">*请修改</span>
                        {else/}
                            {$data['old_part_status']}
                        {/if}
                        <select class="layui-input old_part_status" style="display: none; font-size: 15px;width:auto;height: 20px" >
                            <option value="-1" >请选择...</option>
                            <option value="0" >未审核</option>
                            <option value="1" >通过</option>
                            <option value="2" >驳回再提交</option>
                            <option value="3" >补充资料</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="id" value="{$data['id']}">
<script>
    //处理订单状态
    $('.order_status').click(function(){
        $(this).hide();
        $(this).next().hide();
        $(this).next().next().show()
    });
    $(".os").blur(function () {
        $(this).hide();
        $(this).prev().show().html('未修改');
        $(this).prev().prev().show()
    });
    $(".os").change(function(){
        var sel = $(this);
        var sel_prev = sel.prev().prev().html();//原本的值
        var sel_now = sel.val();//选择后的值
        var id = $('#id').val();//数据ID
        if(sel_now==-1){
            sel.hide();
            sel.prev().prev().show().html(sel_prev);
            return false;
        }
        $.ajax({
            type: "POST",
            url: "updateDetection",
            data: {'id':id,'order_status':sel_now,'order_status_old':sel_prev},
            success: function(msgs){
                if(msgs.ret==200)
                {
                    if(sel_now != 0 ){
                        $('#order_status').empty();
                        $('#order_status').append('<span>'+msgs.msg.os+'</span><span class="" style="color: #b1b3b5;font-size: 15px;margin-left: 30px">*修改成功</span>');
                        $('.time').html(msgs.msg.time);
                        return false;
                    }
                    sel.hide();
                    sel.prev().show().html('*修改失败');
                    sel.prev().prev().show().html(msgs.msg.os);
                    $('.time').html(msgs.msg.time);
                }else{
                    sel.hide();
                    sel.prev().show().html('*修改失败');
                    sel.prev().prev().show().html(sel_prev)
                }
            },
            error:function () {
                sel.hide();
                sel.prev().show().html('*修改失败');
                sel.prev().prev().show().html(sel_prev)
            }
        });
    });

    //处理出库操作
    $('.price').click(function(){
        $(this).hide();
        $(this).prev().show();
    });
    $('.pro_price').blur(function () {
        now = $(this);//当前元素
        now_v = $(this).val();//当前元素的值
        prev_v = $(this).next().html();//上级元素的值
        val = now_v;
        if(now_v==''){
            val=prev_v;//最后的值
            if(isNaN(val)){
            now.next().next().html('*请修改');
            now.next().show().html('请填写');
            now.hide();
            return false;
            }
        }
        id = $('#id').val();
        //ajax
        $.ajax({
            type: "POST",
            url: "updateDetection",
            data: {'id':id,'pro_price':val},
            success: function(msg){
                if(msg.ret==200){
                    $('.pro').empty();
                    $('.pro').append('<span>'+msg.msg+'</span><span class="" style="color: #b1b3b5;font-size: 15px;margin-left: 30px">*修改成功</span>');
                }else{
                    now.hide();
                    now.prev().next().show().html('请填写');
                }
            }
        });

    });

    //操作人修改
    $('.operator').click(function(){
        $(this).hide();
        $(this).prev().show();
    });
    $('.operators').blur(function () {
        now = $(this);//当前元素
        now_v = $(this).val();//当前元素的值
        prev_v = $(this).next().html();//上级元素的值
        val = now_v;
        if(now_v==''){
            val=prev_v;//最后的值
            //if(isNaN(val)){
                now.next().next().html('*请修改');
                now.next().show().html('请填写');
                now.hide();
                return false;
            //}
        }
        id = $('#id').val();
        //ajax
        $.ajax({
            type: "POST",
            url: "updateDetection",
            data: {'id':id,'operator':val},
            success: function(msg){
                if(msg.ret==200){
                    $('.opera').empty();
                    $('.opera').append('<span>'+msg.msg.operator+'</span><span class="" style="color: #b1b3b5;font-size: 15px;margin-left: 30px">*修改成功</span>');
                    $('.operator_time').html(msg.msg.time);
                }else{
                    now.hide();
                    now.prev().next().show().html('请填写');
                }
            }
        });

    });

    //设备状态修改
    $('.t_status').click(function(){
        $(this).hide();
        $(this).next().hide();
        $(this).next().next().show()
    });
    $(".status").blur(function () {
        $(this).hide();
        $(this).prev().show().html('未修改');
        $(this).prev().prev().show()
    });
    $(".status").change(function(){
        var sel = $(this);
        var sel_prev = sel.prev().prev().html();//原本的值
        var sel_now = sel.val();//选择后的值
        var id = $('#id').val();//数据ID
        if(sel_now==-1){
            sel.hide();
            sel.prev().prev().show().html(sel_prev);
            return false;
        }
        $.ajax({
            type: "POST",
            url: "updateDetection",
            data: {'id':id,'t_status':sel_now,'t_status_old':sel_prev},
            success: function(msgs){
                if(msgs.ret==200)
                {
                    $('#t_status').empty();
                    $('#t_status').append('<span>'+msgs.msg.os+'</span><span class="" style="color: #b1b3b5;font-size: 15px;margin-left: 30px">*修改成功</span>');
                }else{
                    sel.hide();
                    sel.prev().show().html('*修改失败');
                    sel.prev().prev().show().html(sel_prev)
                }
            },
            error:function () {
                sel.hide();
                sel.prev().show().html('*修改失败');
                sel.prev().prev().show().html(sel_prev)
            }
        });
    });

    //接收人
    $('.recipient').click(function(){
        $(this).hide();
        $(this).prev().show();
    });
    $('.recipients').blur(function () {
        now = $(this);//当前元素
        now_v = $(this).val();//当前元素的值
        prev_v = $(this).next().html();//上级元素的值
        val = now_v;
        if(now_v==''){
            val=prev_v;//最后的值
            //if(isNaN(val)){
            now.next().next().html('*请修改');
            now.next().show().html('请填写');
            now.hide();
            return false;
            //}
        }
        id = $('#id').val();
        //ajax
        $.ajax({
            type: "POST",
            url: "updateDetection",
            data: {'id':id,'recipient':val},
            success: function(msg){
                if(msg.ret==200){
                    $('.reci').empty();
                    $('.reci').append('<span>'+msg.msg.operator+'</span><span class="" style="color: #b1b3b5;font-size: 15px;margin-left: 30px">*修改成功</span>');
                }else{
                    now.hide();
                    now.prev().next().show().html('请填写');
                }
            }
        });

    })

    //旧件审核状态
    $('.old_part_statu').click(function(){
        $(this).hide();
        $(this).next().hide();
        $(this).next().next().show()
    });
    $(".old_part_status").blur(function () {
        $(this).hide();
        $(this).prev().show().html('未修改');
        $(this).prev().prev().show()
    });
    $(".old_part_status").change(function(){
        var sel = $(this);
        var sel_prev = sel.prev().prev().html();//原本的值
        var sel_now = sel.val();//选择后的值
        var id = $('#id').val();//数据ID
        if(sel_now==-1){
            sel.hide();
            sel.prev().prev().show().html(sel_prev);
            return false;
        }
        $.ajax({
            type: "POST",
            url: "updateDetection",
            data: {'id':id,'old_part_status':sel_now},
            success: function(msgs){
                if(msgs.ret==200)
                {
                    $('#old_p_status').empty();
                    $('#old_p_status').append('<span>'+msgs.msg.os+'</span><span class="" style="color: #b1b3b5;font-size: 15px;margin-left: 30px">*修改成功</span>');
                }else{
                    sel.hide();
                    sel.prev().show().html('*修改失败');
                    sel.prev().prev().show().html(sel_prev)
                }
            },
            error:function () {
                sel.hide();
                sel.prev().show().html('*修改失败');
                sel.prev().prev().show().html(sel_prev)
            }
        });
    });
</script>