<div class="content-hd">
	<fieldset class="layui-elem-field layui-field-title" >
		<legend>增加经销商</legend>
	</fieldset>
</div>
<div class="rhaphp-srivice-register">
	<form class="layui-form layui-form-pane" action="" lay-filter="example">
		<div class="layui-form-item">
			<div class="layui-form-item">
				<label class="layui-form-label"><i class="required-color">*</i>经销商名称</label>
				<div class="layui-input-inline">
					<input name="store_name" required="" lay-verify="required" placeholder="请输入经销商名称" autocomplete="off" class="layui-input" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><i class="required-color">*</i>手机号</label>
				<div class="layui-input-inline">
					<input name="tel" required="" lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input" type="tel" maxlength="13">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><i class="required-color">*</i>联系人</label>
				<div class="layui-input-inline">
					<input name="name" required="" lay-verify="required" placeholder="请输入联系人" autocomplete="off" class="layui-input" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><i class="required-color">*</i>详细地址</label>
				<div class="layui-input-inline" style="width: 300px;">
					<input name="store_address" required="" lay-verify="required" placeholder="请输入经销商详细地址" autocomplete="off" class="layui-input" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<input name="type" type="hidden" value="3">
					<button class="layui-btn" lay-submit="" lay-filter="ActAddStore">立即提交</button>
				</div>
			</div>
		</div>
	</form>
</div>
<script>
    layui.use('form', function () {

        layui.form.on('submit(ActAddStore)', function (data) {
			$.post(
				"addDstore",
				data.field,
				function (obj) {
					if(obj.ret == 200){
						layer.msg(obj.msg, {time: 1500}, function(){
							window.location.reload();
						});
					}
					else{
						layer.msg(obj.msg, {time: 1500, anim: 6});
					}
				}
			);
			return false;
        });
    });
</script>